body {
    background-color: #F8F4D1;
}

.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: left;
    margin: auto;
    height: 25%;
    width: 100%;
}

.homeTopContent {
    padding: 10px;
}

